body {
  padding: 0;
}

.house {
  margin: 10vw;
}

.floor {
  height: 25vh;
  width: 24vw;
  background-color: white;
  border: 2px solid black;
  margin-left: 0.5vw;
  box-shadow: 1vw 1vw 1vw #8274747d;
}

.roof {
  width: 0;
  height: 0;
  border-left: 12.5vw solid transparent;
  border-right: 12.5vw solid transparent;
  border-bottom: 15vh solid #666;
}

.chimney {
  height: 16vh;
  width: 5vw;
  margin-left: 5vw;
  background-color: #555;
  z-index: -1;
  position: relative;
}

.door {
  margin-top: -5vh;
  height: 15vh;
  width: 5vw;
  background-color: rgb(140, 114, 167);
  border: 2px solid black;
  margin-left: 10vw;
}

.window {
  margin-top: 10vh;
  margin-left: 2.5vw;
  height: 5vh;
  width: 5vw;
  background-color: yellowgreen;
}

.window-right {
  margin-left: 17.5vw;
  margin-top: -15vh;
}

.sun {
  height: 5vw;
  width: 5vw;
  border-radius: 50%;
  position: relative;
  margin-top: -70vh;
  margin-left: 5vw;
  background: orange;
  box-shadow: 0 0 1vw orange, 0 0 2vw orange, 0 0 4vw yellow,
    inset 0 0 3vw yellow;
}

.tree1 {
  border-bottom: 10vw solid #5b6b09;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  position: absolute;
  left: 7vw;
  top: 41vh;
}

.tree2 {
  height: 0;
  width: 0;
  border-bottom: 10vh solid #718710;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  position: relative;
  left: 5vw;
  top: 34vh;
}
