.body {
  padding: 0;
  margin: 0;
}

.cross {
  background: red;
  height: 100px;
  position: relative;
  width: 20px;
  margin-left: 10vw;
}
.cross:after {
  background: red;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}

#one {
  height: 20vh;
  width: 5vw;
  position: absolute;
  left: 5vw;
  top: 30vh;
  background: blue;
}
#two {
  height: 7vh;
  width: 12vw;
  position: relative;
  background: blue;
  top: 10vw;
}
